<nav class="navbar navbar-light bg-light navbar-expand-md">
  <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
          data-target="#bs-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
    &#x2630;</button>
  <div class="collapse navbar-collapse"
       id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav">{% for node in site.data.navbar %} {% if node.name == page.group %}{%
                                                                                                  assign active = &apos;active&apos; %} {% else %}{% assign active = nil
                                                                                                                                                  %}{% endif %} {% if node.dropdown %}
      <li class="dropdown {{ active }} nav-item"> <a class="dropdown-link nav-link" href="{{ site.baseurl }}{{ node.link }}">{{ node.name }}</a>
        <a
            class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">{{ node.name }}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">{% for sub in node.dropdown %}
          <li class="dropdown-item"><a href="{{ site.baseurl }}{{ sub.link }}">{{ sub.name }}</a>
          </li>{% endfor %}</ul>
      </li>{% else %}
      <li class="{{ active }} nav-item"> <a href="{{ site.baseurl }}{{ node.link }}" class="nav-link">{{ node.name }}</a>
      </li>{% endif %} {% endfor %}</ul>
  </div>
</nav>
